/* ADD YOUR STYLES HERE */
.instruction-answer1 table tr td {
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 5px;
	border-bottom: 1px solid #999999;
}
.instruction-answer1 table tr:last-child td {
	border-bottom: 0;
}

.instruction-answer1 {
	margin-bottom: 30px;
}


.instruction-answer2 table thead tr th {
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 5px;
	border-bottom: 1px solid #999999;
}

.instruction-answer2 table tbody tr td {
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 5px;
	border-bottom: 1px solid #999999;
}

.instruction-answer2 table tbody tr:last-child td {
	border-bottom:0;
}

.instruction-answer3 table tbody tr td div.num {
	font-size: 40px;
	font-weight: bold;
}

.instruction-answer3 table tbody tr td div.lText {
	font-size: 15px;
	color: gray;
} 

.instruction-answer3 table tbody tr td{
	padding: 10px 0 10px 0;
}

.instruction-answer3 table {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.instruction-answer3 table tbody tr td div.num, div.lText {
	text-align: center;
	margin: 10px;
}

 .instruction-answer4 table tr td div {
	background-color: rgb(0,140,255);
	background-size: 100% 50px;
	color: rgb(255,255,255);
	padding: 4px 0 4px 7px;
	font-size: 14px;
	border: 0px solid rgb(0,140,255);
	border-radius: 0 3px 3px 0;
	margin: 0px 5px 5px 5px;
}


.instruction-answer4 table tr td {
  	width: 100%;

}

.instruction-answer4 table tr th {
	text-align: right;
}